body {
    background-color: salmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

header, footer {
    height: 70px;
    background-color: blanchedalmond;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 10px black;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

nav {
    margin: 10px;
    font-weight: bold;
}

nav a {
    margin:15px;
}

#logo {
    justify-content: left;
   width: 200px;
}

main {
   
}

h1 { text-align: center; 
     font-size: 40px;
    font-family: 'Anek Malayalam', sans-serif;
    color: blanchedalmond;
}

h2 { text-align: center; 
    font-size: 30px;
   font-family: 'Anek Malayalam', sans-serif;
   color: blanchedalmond;
}

#what-in {
    text-align: center;
    text-emphasis: bold;
    padding-top: 0px;
    margin-top: 5px;
}

li {
    list-style: none;
}

div {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px;
}

#imageDump img {
    width: 200px;
    border-radius: 30%;
}

ul {
}
#locations {
flex-direction: row;

}